<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="basePackage.basePage"/>
		<class name="testCases.testCheckboxPage"/>
      	<class name="testCases.testDragAndDrop"/>
      	<class name="testCases.testDropDownSearchDemoPage"/>
      	<class name="testCases.testDynamicDataLoading"/>
      	<class name="testCases.testHandelWindowsPage"/>
      	<class name="testCases.testSliderDemoPage"/>
<!--      	<class name="testCases.testDatePickerPage"/>-->
      	<class name="testCases.testJavaScriptAlertBoxPage"/>
<!--      	<class name="testCases.testKeyPressFromKeyBoard.java"/>-->
      
      
      
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
